/*
Theme Name: Oowlish Pratice Test
description: >- This Child theme was created to be a part of a pratice test of the compamny Oowlish.
  Oowlish Pratice Test
Author: Joel Freitas
Template: twentynineteen
Version: 1.0.0
Text Domain: twenty-nineteen-child
*/

@import url("../twentynineteen/style.css");


.breeds-grid {
  min-height: 505px;
  background-color: #fff;
  box-shadow: 0px 3px 4px #7d7d7dd6;
}

.breeds-data {
  
    padding: 11px 14px;
    padding-bottom: 20px;
}


.read-more {
  display: inline-block;
  margin-bottom: 10px;
}

.ajust-height {
  display: flex;
}


.owner-testimonal {
  font-style: italic;
}

.breed-item {
    border-radius: 5px;
    border: 2px solid #ccc;
    padding: 20px;
}

.image-filters-enabled .site-header.featured-image .site-featured-image .post-thumbnail img {
  filter: grayscale(0%);
}

.gallery-list {
  margin-top: 40px;
}


.hide-field {
 display: none;
}

@media only screen and (min-width: 768px){

  .site-header.featured-image {
    min-height: 65vh;
    margin-bottom: 3rem;
}

.site-header.featured-image .site-featured-image .entry-header {
    margin-left: auto;
    margin-right: auto;
}
}